<!DOCTYPE html>
<html>

<head>
	<title>Admin Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="styles/main.css">
</head>

<body style="padding-top: 70px" ng-app="directoryApp">

	<style>
		@media screen {
        .noPrint{}
        .noScreen{display:none;}
    }

    @media print {
        .noPrint{display:none;}
        .noScreen{}
    }
    </style>

	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<a class="navbar-brand">
			<font color="orange">GT</font><font color="blue">ourney</font>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/home">Home<span class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/map">Find Tournaments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/profile">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout">Logout<span class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/create">Create Event<span class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/admin">Admin Page<span class="sr-only"></span></a>
				</li>
			</ul>
		</div>
	</nav>

	<center>
		<h1 class="display-4">Admin View</h1>
		<hr class="col-md-6">
	</center>

	<div class="container" ng-controller="TourneyController">
		<div class="tableWrapper">
			<table class="table table-bordered table-striped">
				<tr>
					<th>Name</th>
					<th>Date</th>
				</tr>
				<tr ng-repeat="tourney in tourneys | orderBy: 'tournamentName':true" ng-click="showDetails(tourney)">
					<td>{{tourney.tournamentName}}</td>
					<td>{{displayDate(tourney)}}</td>
				</tr>
			</table>
		</div>

		<div class="container">
			<div class="jumbotron" ng-if="detailedInfo != undefined">
				<div class="row">
					<div class="col-md-4">
						<h3 class="display-4">Tournament:<br>{{detailedInfo.tournamentName}}</h3>
						<hr>
						<center>
							<div class="btn-group" role="group" aria-label="Basic example">
								<button type="button" class="btn btn-secondary">Edit</button>
								<button type="button" ng-click="deleteTourney(detailedInfo)" class="btn btn-danger">Delete</button>
								<button type="button" ng-click="featureTourney(detailedInfo)" class="btn btn-secondary">Toggle Feature</button>
							</div>
						</center>
					</div>
					<div class="col-md-8">
						<p>Game: {{detailedInfo.game}}</p>
						<p>Date: {{displayDate(detailedInfo)}}</p>
						<p>Details: {{detailedInfo.details}}</p>
						<p>Featured: {{detailedInfo.featured == 1}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="noScreen"> <img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=http://gtourney69.herokuapp.com/&choe=UTF-8" alt="QR Code" /> </div>

	<!-- Scripts I've added-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
	<script src="https://code.angularjs.org/1.4.3/angular-cookies.js"></script>
	<script src="js/app.js"></script>
	<script src="js/factories/tourneyFactory.js"></script>
	<script src="js/controllers/tourneyController.js"></script>
</body>

</html>
